<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/img/icon.png">
        <link rel="stylesheet" href="/static/css/stylesIndex.css">
        <title>{{ .Title }}</title>
    </head>
    <body>
        <div class="landing-page">
            <div class="page-content">
                <h1>Servidor HTTP Golang</h1>
                <p>Si está visualizando esta página implementando el servidor entonces ha implementado correctamente el código inicial del servidor, el siguiente paso es empezar a colocar lo que usted quiera en el código.</p>
            <a href="#">Feliz codificación</a>
            </div>
        </div>
        
    </body>
</html>